body {
  zoom: 2;
  font-family: sans-serif;
  color: #666;
  font-size: 2em;
}

p {
  padding-left: 30px;
}

button {
  width: 120px;
  height: 120px;
  border: none;
  position: relative;
  float: left;
  margin: 10px;
  border-radius: 60px;
}

#container {
  position: relative;
  width: 100%;
}
